/* #mynav{
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
} */
.navo{
    background-color:  rgb(245, 193, 250) ;
    
    transition: background-color 2s, padding 1s, color 1s;
}
.back{
    margin-top: 10px;
    background-image: url(imgs/justinecelina_digital-blooms-july-2019-free-desktop-wallpaper_featured.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
}
/* .nav-item a{
    color: white;
} */

.define h1{
    background-color:  rgb(217, 191, 219);
}
.col-md-4{
    display: none;
}
/* .define p{
    background-color:  rgb(208, 160, 212);
} */
.btnOne{
    color: #ffff;
}
.btnOne:hover{
    background-color: rgb(129, 66, 138);
}
.one {
    width: 10%;
}
.newSection{
    background-image: url(imgs/florist-making-beautiful-floral-bouquet-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
}
.item-caption h5{
    color: rgb(128, 124, 124);
    font-family: fantasy;
}
.item-caption p{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.btnTwo{
    background-color: rgb(165, 36, 148) ;
    color: #ffff;
}
@media only screen and (max-width: 991px) {
    .navbar{
        background-color: transparent !important;
       
    }
    .navbar-brand {
      font-size: 30px !important;
      color: blueviolet !important;
    }
    .nav-item a{
        font-size: 25px !important;
        font-family: fantasy;
        color: rgb(146, 92, 197 , 0.6) !important;
     }
}
